body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #7d531a, #3e1f00);
  color: white;
  text-align: center;
}

.login-container {
  margin-top: 100px;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

.google-btn {
  background: linear-gradient(to right, #ff9900, #ffcc66);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 30px;
  width: 80%;
}

.yoso-btn {
  background: white;
  color: #333;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 30px;
  width: 80%;
}

.terms {
  font-size: 12px;
  color: #ccc;
  margin-top: 20px;
}

.terms a {
  color: #ffc107;
  text-decoration: none;
}
